.info-projects {
	&__title {
		font-size: 2vw;
		display: block;
		text-align: center;
		padding: .5%;
		@media only screen and (max-width: 450px) {
			font-size: 1.8rem;
		}
	}

	&__subtitle {
		font-size: 1.2vw;
		color: var(--color-react);
		margin: 1vw;
	}

	&__img {
		height: 60%;
		width: 100%;
		display: block;
		margin: 1rem auto;
        border-radius: 5px;
	}

	&__blur {
		// missing button to go outside
	}

	&__project {
		display: block;
		text-align: center;
		margin: 2%;
		margin-bottom: 4%;
		position: relative;
		z-index: 500;
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: stretch;
	}

	&::before {
		content: "\201C";
		font-family: sans-serif;
		position: absolute;
		line-height: 1;
		top: -2.2%;
		left: -1%;
		font-size: 18vw;
		z-index: 10;
		color: var(--light-second);
	}
}