@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Bungee+Shade');

:root {
  --color-first: #672feb;
  --color-second: #515bf0;
  --color-react: #23a6d5;
  --color-ts: #0078d7;
  --light-first: #faf9f9;
  --light-second: #f4f2f2;
  --light-third: #ccc;
  --grey-first: #333;
  --grey-second: #777777;
  --grey-third: #999999;
  --color-redux: rgb(118, 74, 188);
  --color-graphql: #e535ab;
  --color-node: rgb(131, 205, 41);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  line-height: 1.6;
  height: 90vh;
  color: var(--grey-second);
  background-size: 400% 400%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;

  @media only screen and (max-width: 450px) {
    background: white;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.rainbow:hover {
  -webkit-animation: rainbow pulsate 1s infinite;
  -ms-animation: rainbow 1s infinite;
  -o-animation: rainbow 1s infinite;
  animation: rainbow 1s infinite;
}

@-webkit-keyframes rainbow {
  0% {
    color: #ee7752;
  }

  33% {
    color: #ff3366;
  }

  66% {
    color: #23a6d5;
  }

  100% {
    color: #30d636;
  }
}

@-ms-keyframes rainbow {
  0% {
    color: #ee7752;
  }

  33% {
    color: #ff3366;
  }

  66% {
    color: #23a6d5;
  }

  100% {
    color: #30d636;
  }
}

@-o-keyframes rainbow {
  0% {
    color: #ee7752;
  }

  33% {
    color: #ff3366;
  }

  66% {
    color: #23a6d5;
  }

  100% {
    color: #30d636;
  }
}

@keyframes rainbow {
  0% {
    color: #ee7752;
  }

  33% {
    color: #ff3366;
  }

  66% {
    color: #23a6d5;
  }

  100% {
    color: #30d636;
  }
}
